* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', sans-serif;
	background-color: #121212;
}

.nav {
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 8px;
}

.nav button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	color: #cdcdcd;
}

.input {
	text-align: right;
	height: 100px;
	padding: 4px 8px;
	max-width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
}

.input p:nth-child(1) {
	max-width: 100%;
	overflow-x: auto;
	font-size: 2.5rem;
	border-right: 2px solid #25cb00;
	color: #fff;
}

.input p:nth-child(2) {
	padding-top: 5px;
	font-size: 1.2rem;
	color: #cdcdcd;
}

.buttons {
	height: calc(100vh - 100px - 60px);
	padding: 4px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	gap: 4px;
}

.buttons button {
	font-size: 2rem;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 4px;
	background-color: #262626;
	color: #cdcdcd;
}

.buttons .span-two {
	background-color: #25cb00;
	color: #fff;
	grid-row: span 2;
}

.buttons .math-x {
	font-size: 0.9rem;
}

.buttons .accent,
.history-wrap .accent {
	color: #25cb00;
}

.history-wrap {
	position: fixed;
	bottom: 0;
	background-color: #262626;
	height: calc(100vh - 100px - 60px);
	width: 100%;

	/* CSS transition for smooth animation */
	transition: transform 0.3s ease;
	transform: translateY(100%); /* Start the container off-screen */
}

.history-wrap.show {
	transform: translateY(0); /* Slide the container up to display */
}

.history-wrap .icon {
	color: #25cb00;
	font-size: 1.5rem;
	text-align: center;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.history-wrap p {
	color: #fff;
}

.history-wrap .content {
	padding: 4px 10px;
}

.history-wrap .content p {
	font-size: 1.2rem;
	white-space: nowrap;
	max-width: 100%;
	overflow-x: auto;
	margin-bottom: 5px;
}
